<html>
<head>
<title> Zaudio - Audio Converter </title>

  {% load bootstrap5 %}
  {% bootstrap_css %}

<nav class="navbar navbar-expand-lg navbar-light bg-primary text-light">
<center style="font-size:30px;margin:10px;padding:5px;" class="border border-dark rounded bg-dark"> 
Zaudio
 </center>
<font style="font-size:27px;">
Audio converter
</font>
</nav> 

</head>

<body>
<div style="margin-top:50px;" class="border border-dark rounded bg-light container container-sm">

<font style="font-size:25px;"> Download </font><br>
<center>
{% for file in files %}
<font style="font-size:23px;margin-right:10%;">{{file}}</font> <a href="/files/{{file}}" download><button class="btn btn-success" style="font-size:21px;">Download </button></a>
<div style="width:90%;height:5px;background-color:rgb(41, 41, 61);margin-top:5px;">
</div><br>



{% endfor %}
</center>
<br>

</div>


</body>
</html>