<html>
<head>
<title> Zaudio - Audio Converter </title>

  {% load bootstrap5 %}
  {% bootstrap_css %}

<nav class="navbar navbar-expand-lg navbar-light bg-primary text-light">
<center style="font-size:30px;margin:10px;padding:5px;" class="border border-dark rounded bg-dark"> 
Zaudio
 </center>
<font style="font-size:27px;">
Audio converter
</font>
</nav> 
<style>


input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 8px;
  font-size: 17px;
  color: #b8b8b8;
}

.button-wrap {
  position: relative;
}

.button {
  display: inline-block;
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #8ebf42;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.button-clicked{  background-color: #8ebf42;}

</style>
</head>

<body>
<div style="margin-top:50px;" class="border border-dark rounded bg-light container container-sm">

<font class="font-size:25px;"> Upload files </font><br>
<center>
{% if form.is_multipart %}
    <form enctype="multipart/form-data" method="post" action="">
{% else %}
    <form method="post" action="">
{% endif %}

    {%for field in form %}

{% if field.label == "New format:" %} 


 {% for value in values %}
    <label style="margin:10px;">
<button id="{{field.name}}{{forloop.counter}}b" type="button" class="btn btn-dark" 
onclick="checkbtn('{{field.name}}{{forloop.counter}}','{{field.name}}{{forloop.counter}}b')">

<input
{% if value == 'mp3' %} checked="checked" {% else %} {% endif %}
 id="{{field.name}}{{forloop.counter}}" type="radio" name="{{field.name}}" value="{{value}}" required="" style="z-index:-1;position: absolute;">{{value|upper}}</button></label>

{% endfor %}


<div style="width:90%;height:5px;background-color:rgb(41, 41, 61);">
</div><br>



{% else %}

{% if forloop.counter > 1 %}
<div id="{{forloop.counter}}" style="display:none;">
{% else %}
{% endif %}

      <label class="button-wrap" style="margin-right:5%;">
        <label class="button" for="upload{{forloop.counter}}f" id="upload{{forloop.counter}}" onmouseout="fileu('upload{{forloop.counter}}',0)" 
onclick="fileu('upload{{forloop.counter}}',{{forloop.counter}})">Upload File</label>
        <input id="upload{{forloop.counter}}f" type="file" name="{{field.name}}">
      </label>

{% endif %}


{% endfor %}
</center>
<br>
<input type="submit" value="Upload">
</form>

</div>


</body>
<script>
function checkbtn(inpid,btnid){
var btn=document.getElementById(inpid);
if(btn.checked==true){
btn.checked=false;}
else{btn.checked=true;}
console.log(btn.checked,btn.value)

var btn=document.getElementById(btnid);
btn.classList.toggle('btn-dark');
btn.classList.toggle('btn-warning');

}


function fileu(btnid,showdiv){
if (showdiv==0){}
else{
console.log(showdiv+2)
document.getElementById(showdiv+2).style["display"] = "block";}


var btn=document.getElementById(btnid);
var f=document.getElementById(btnid+'f');

if (f.value==''){}
else{btn.innerHTML = "Uploaded" }
}

</script>

</html>