<html>
<head>
<title> Zaudio - Audio Converter </title>

  {% load bootstrap5 %}
  {% bootstrap_css %}

<nav class="navbar navbar-expand-lg navbar-light bg-primary text-light">
<center style="font-size:30px;margin:10px;padding:5px;" class="border border-dark rounded bg-dark"> 
Zaudio
 </center>
<font style="font-size:27px;">
Audio converter
</font>
</nav> 

</head>

<body>
<div style="margin-top:50px;" class="border border-dark rounded bg-light container container-sm">
<center>
<font style="font-size:75px;">  Converting Files...</font> <span class="spinner-border spinner-border-xl"></span>
</center>
<br>

</div>


</body>
<script>
    window.setTimeout(function(){
        window.location.href= encodeURIComponent('download/?{{ff}}');

    }, 5000);
</script>
</html>
